## Referências:
- Abandono escolar na pandemia: https://inesc.org.br/abandono-no-ensino-medio-brasileiro-duplicou-na-pandemia/
- Dados covid: https://infoms.saude.gov.br/extensions/covid-19_html/covid-19_html.html

In [2]:
import pandas as pd

a_uf = pd.read_excel('bases/abandono_por_uf.xlsx')
a_uf.head()

  Número de estudantes que abandonaram o EM   2019  2020   2021
0                                      Acre   2272  1249   2407
1                                   Alagoas   6747   527   8923
2                                     Amapá   3068   720   2509
3                                  Amazonas  20375   335  11215
4                                     Bahia  37659  3922  65374

In [3]:
a_regiao = pd.read_excel('bases/abandono_por_regiao.xlsx')
a_regiao.head()

     Região    2019    2020    2021  Var. em 2019 e 2020  Var. em 2020 e 2021
0    Brasil  341211  165644  377526               -0.510                 1.28
1     Norte   68373    8735   82653               -0.870                 8.46
2  Nordeste  105496   42739  135909               -0.590                 2.18
3   Sudeste   97893   65287   89809               -0.330                 0.38
4       Sul   42228   42312   55492                0.002                 0.31

In [4]:
c_regiao = pd.read_excel('bases/covid_por_regiao.xlsx')
c_regiao.head()

,Região,População,Casos novos notificados na semana epidemiológica,Casos Acumulados,Incidência covid-19 (100 mil hab),Óbitos novos notificados na semana epidemiológica,Óbitos Acumulados,Taxa mortalidade (100 mil hab)
0,Sudeste,88371433,57068,15253488,17260.654809,465,341269,386.175700
1,Sul,29975984,40584,8125900,27108.034218,206,112397,374.956832
2,Nordeste,57071654,22090,7482295,13110.352470,131,136427,239.045113
3,Centro-Oeste,16297074,30329,4422046,27133.987365,102,66720,409.398644
4,Norte,18430980,7034,2927135,15881.602606,49,51825,281.184180

In [5]:
c_uf = pd.read_excel('bases/covid_por_uf.xlsx')
c_uf.head()

,UF,População,Casos novos notificados na semana epidemiológica,Casos Acumulados,Incidência covid-19 (100 mil hab),Óbitos novos notificados na semana epidemiológica,Óbitos Acumulados,Taxa mortalidade (100 mil hab)
0,AC,881935,958,166045,18827.351222,1,2067,234.371014
1,AL,3337357,676,343586,10295.152721,17,7317,219.245349
2,AM,4144597,143,638685,15410.062788,2,14484,349.467029
3,AP,845731,456,186825,22090.357336,1,2170,256.582767
4,BA,14873064,6180,1823743,12262.053065,54,31857,214.192583